.main-content {
  flex: 1;
  padding: 20px;
}

.outdoor{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  height: 400px;
  border-radius: 20px;
  background-image: url("../../assets/fundo.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px 40px;
}

.outdoor h1,
.outdoor p {
  width: 740px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.34);
  border-radius: 10px;
}

.outdoor h1{
  font-size: 44px;
  font-family: "Raleway", sans-serif;
  font-weight: 600
}

.outdoor p {
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  font-weight: 300
}