Frontend/src/components/ItemPedido/pedidos.css
.pedidos-container {
  padding: 20px;
}

.pedidos-list {
  list-style-type: none;
  padding: 0;
}

.pedidos-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pedidos-button {
  background-color: #ff4d4d; 
  color: white; 
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pedidos-button:hover {
  background-color: #ff1a1a; 
}
.item-image{
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.pedidos-item p {
  color: black
}

.alterar {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
}
