.main-content {
  flex: 1;
  padding: 20px;
}

.carousel-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
  border: none; 
  z-index: 0;
}

.carousel-slider {
  height: 400px; 
  position: relative; 
  margin-bottom: 20px;
  overflow: hidden; 
}

.carousel-slide {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100%; 
  border: none; 
}

.carousel-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  pointer-events: none; 
  border: none; 
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: #ecf0f1;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  z-index: 10;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.carousel-button:hover {
  color: #bdc3c7;
}

.intro-container {
  text-align: center;
  color: #ecf0f1;
  margin: 3rem 0;
}
