:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: #1a1a1a;
}

.app-container {
    display: flex;
    min-height: 100vh;
}

.navbar {
    width: 100%;
    background-color: #333333;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navbar-links li {
    margin: 0 20px;
}

.navbar-links a {
    color: #bdc3c7;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #ecf0f1;
}

.sidebar {
    width: 200px;
    background-color: #333333;
    color: #ecf0f1;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50px; 
    bottom: 0;
    left: 0;
    padding: 2px; 
}   

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
}

.sidebar a {
    color: #bdc3c7;
    transition: color 0.3s;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
}

.sidebar a:hover {
    color: #ecf0f1;
}

.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 220px; 
    padding-top: 20px;
}

.intro-container {
    text-align: center;
    color: #ecf0f1;
    margin: 3rem 0;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap; /* Permite que os cards quebrem linha */
    gap: 1rem;
    margin: 2rem 0;
    justify-content: center; /* Centraliza os itens */
}

.image-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #333; /* Fundo dos cards */
    padding: 10px; /* Espaçamento interno */
    border-radius: 15px; /* Bordas arredondadas */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 120px; /* Largura do card */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-card img {
    width: 100%; /* Faz as imagens ocuparem toda a largura disponível */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Arredonda as bordas das imagens */
}

.image-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

.price {
    margin-top: 5px; /* Espaçamento entre a imagem e o preço */
    font-size: 0.9rem; /* Ajusta o tamanho da fonte do preço */
    color: #ecf0f1;
    font-weight: bold;
}

button {
    margin-top: 5px; /* Espaçamento entre o botão e a imagem */
    padding: 5px 10px; /* Tamanho do botão */
    border: none; /* Remove bordas */
    border-radius: 5px; /* Bordas arredondadas */
    background-color: #4A5D5F; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    transition: background-color 0.3s; /* Transição de cor */
}

button:hover {
    background-color: #808080; /* Cor do botão ao passar o mouse */
}
