.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  background-color: #E7ECEF;
  padding: 20px 0px;
  text-align: center;
}

.brand-text {
  font-family: 'Lobster', cursive;
  color: #0D160B;
  font-size: 26px;
  font-weight: bold;
}

.nav-bar{
  position: fixed;
  top: 0;
  background-color: #E7ECEF;
  height: 100vh;
  width: 340px;
}

.categoria {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.categoria li {
  width: 100%;
  text-align: center;
}

.link-categoria {
  display: block;
  color: #272932;
  text-decoration: none;
  padding: 26px 0;
  margin: 20px 0;
  font-size: 18px;
  transition: background-color 0.3s;
}

.link-categoria-hover:hover {
  background-color: #272932;
  color: white;
}

.link-logout-hover:hover {
  background-color: #F05D5E;
  color: white;
}

.logout-container {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
}

.logo-container {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 0;
}

.logo-text {
  font-family: 'Lobster', cursive;
  text-decoration: underline;
  color: #0D160B;
  font-size: 26px;
  font-weight: bold;
  width: 100%;
}

.alinhar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.shopping {
  position: relative;
  margin-right: 20px;
}

.notification {
  position: absolute;
  top: 0px;
  right: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #F05D5E;
}

.pedidos {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  color: #0D160B;
  position: relative;
  background-color: transparent;
}

.defaultBtn{
  ba
}